pip==21.0.1
Pillow==8.2.0
pipenv==2020.11.15
Django==3.2
setuptools==49.2.1
django-ckeditor==6.0.0
django-allaut==0.44.0
django-crispy-forms==1.11.2 
django-adminlte3==0.1.6
django-bootstrap-form==3.4 
PyPDF2==1.26.0
xhtml2pdf==0.2.5
