{% extends 'base.html' %}
{% load static %}
{% block title %} PLATAFORMA DE JOGOS {% endblock title %}


{% block content %}
    <div>

        <div class="row">
          {% for post in object_list %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                <a href="#"><img class="card-img-top" src="media\general_post\aqui.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                    <a href="{{post.get_absulute_url}}">
                        <h2 class="post-title text-dark"> 
                            {{ post.title }}
                        </h2>
                    </a>
                    </h4>
                    <h5>R$:{{ post.value }}</h5>
                    <p class="card-text">{{ post.description|safe|truncatechars:'200' }}</p>
                </div>
                
                <div class="card-footer">
                    <small class="text-muted ">status: {{post.status}} </small>
                </div>
                </div>
            </div>
          {% endfor %}
       
        </div>

      </div>

    </div>


  </div>
{% endblock content %}
